* {
     -moz-box-sizing: border-box; 
     -webkit-box-sizing: border-box; 
     box-sizing: border-box; 
}

body {
  padding:10px;
  font-family: 'amsi-nar-ultra', Helvetica, Arial, sans-serif;
  background-color:#f2ca00;
  color:#ffff00;
}

a.body-link {
color:#033b26; 
}

.menu-item-has-children ul {
display: none;
}

a.active {
color:#033b26;
}

.menu-item-has-children:hover {
color:#033b26;
}

.masthead{
color:#033b26;
}
/*
a:link {
  color:#ffff00;
  text-decoration:none;
}

a:hover{
  color:#033b26;
}*/


@media only screen {

    h1 {
    font-size: 12vw;
    padding:0;
    font-family: 'amsi-nar-ultra', Helvetica, Arial, sans-serif;
    line-height: 0.78em;
    }

    .menu-item-has-children h1, .masthead {
  cursor:pointer;
  }

    h2 {
    font-size: 4.6vw;
    margin-left:8vw;
    margin-top:.6em;
    margin-bottom:.2em;
    width:82%;
    padding:0;
    font-family: 'stanley', Georgia, Times, sans-serif;
    line-height:1.15em;
    color:#033b26;
    }

    .menu-item-has-children h1, .masthead {
    cursor:pointer;
    }

    h3{
    font-size: 6vw;
    padding:0;
    font-family: 'amsi-nar-ultra', Helvetica, Arial, sans-serif;
    line-height:1.1em;
    color:#033b26;
    }

}
@media only screen and (min-width: 579px) {
/*css styles*/

    h1 {
    font-size: 12vw;
    padding:0;
    font-family: 'amsi-nar-ultra', Helvetica, Arial, sans-serif;
    line-height:0.78em;
    }

    h2 {
    font-size: 2.6vw;
    margin-left:3vw;
    margin-top:.6em;
    margin-bottom:.3em;
    width:75%;
    font-family: 'stanley', Georgia, Times, sans-serif;
    line-height:1.15em;
    color:#033b26;
    }

    h3{
    font-size: 2.6vw;
    padding:0;
    font-family: 'amsi-nar-ultra', Helvetica, Arial, sans-serif;
    line-height:1.1em;
    color:#033b26;
    }

}
@media only screen and (min-width: 756px) {


    h1 {
    font-size: 12vw;
    padding:0;
    font-family: 'amsi-nar-ultra', Helvetica, Arial, sans-serif;
    line-height: 0.78em;
    /*  color:#ffff00;*/
    }

    h2 {
    font-size: 2.6vw;
    margin-left:3vw;
    width:75%;
    padding:0;
    font-family: 'stanley', Georgia, Times, sans-serif;
    line-height:1.1em;
    color:#033b26;
    }

    h3{
    font-size: 2.6vw;
    padding:0;
    font-family: 'amsi-nar-ultra', Helvetica, Arial, sans-serif;
    line-height:1.15em;
    color:#033b26;
    }

}
@media only screen and (min-width: 799px) {
    h1 {
    font-size: 12vw;
    padding:0;
    font-family: 'amsi-nar-ultra', Helvetica, Arial, sans-serif;
    line-height: 0.78em;
    }

    h2 {
    font-size: 2.6vw;
    margin-left:3vw;
    width:65%;
    padding:0;
    font-family: 'stanley', Georgia, Times, sans-serif;
    line-height:1.15em;
    color:#033b26;
    }

    h3{
    font-size: 2.6vw;
    padding:0;
    font-family: 'amsi-nar-ultra', Helvetica, Arial, sans-serif;
    line-height:1.1em;
    color:#033b26;
    }

}


@media only screen and (min-width: 1100px) {
    h1 {
    font-size: 10vw;
    padding:0;
    font-family: 'amsi-nar-ultra', Helvetica, Arial, sans-serif;
    line-height: 0.78em;
    /*  color:#ffff00;*/
    }

    h2 {
    font-size: 2.3vw;
    margin-left:3vw;
    padding:0;
    width:65%;
    font-family: 'stanley', Georgia, Times, sans-serif;
    line-height:1.15em;
    color:#033b26;
    }

    h3{
    font-size: 2.6vw;
    padding:0;
    font-family: 'amsi-nar-ultra', Helvetica, Arial, sans-serif;
    line-height:1.1em;
    color:#033b26;
    }

    .menu-item-has-children h1, .masthead {
    cursor:pointer !important;
}




@media only screen and (min-width: 1900px) {
    h1 {
    font-size: 10vw;
    padding:0;
    font-family: 'amsi-nar-ultra', Helvetica, Arial, sans-serif;
    line-height: 0.78em;
    /*  color:#ffff00;*/
    }

    h2 {
    font-size: 1.6vw;
    margin-left:3vw;
    padding:0;
    width:50%;
    font-family: 'stanley', Georgia, Times, sans-serif;
    line-height:1.15em;
    color:#033b26;
    }

    h3{
    font-size: 2vw;
    padding:0;
    font-family: 'amsi-nar-ultra', Helvetica, Arial, sans-serif;
    line-height:1.1em;
    color:#033b26;
    }

    .menu-item-has-children h1, .masthead {
    cursor:pointer !important;
}

